{{#if messages.error}}
  {{messages.error}}
{{/if}}
<div class="logo-title text-center">
  <img src="/images/logo.png" alt="logo">
  <h2>Gamer Central</h2>
</div>
<form id="signin" name="signin" method="post" action="signin">
    {{!-- <label for="email">Email Address</label> --}}
    <br>
    <input class="text" name="email" type="text" placeholder="Email Address"/>
    <br>
    {{!-- <label for="password">Password</label> --}}
    <br>
    <input name="password" type="password" placeholder="Password"/>
    <br>
    <input class="btn signInButton" type="submit" value="Sign In" />
</form>
<div class="signup-section text-center">
  <p>Haven't created an account yet?</p><a href="/signup"><button class="btn mb-2 customBtn" type="submit">Register </button></a>
</div>  